<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>

<target includeMode="feature" name="org.lunifera.p2.target.juno" sequenceNumber="72">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.emf.sdk.feature.group" version="2.9.0.v20121217-0429"/>
<repository location="http://download.eclipse.org/releases/kepler"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.slf4j.api" version="1.6.4.v20120130-2120"/>
<unit id="ch.qos.logback.core.source" version="1.0.0.v20111214-2030"/>
<unit id="org.slf4j.api.source" version="1.6.4.v20120130-2120"/>
<unit id="ch.qos.logback.core" version="1.0.0.v20111214-2030"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/S20120726065500/repository/"/>
</location>
</locations>
</target>
