<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated model -->
      <package
            uri="http://eclipse.org/emf/ecp/ecview/databinding/emf/test"
            class="org.eclipse.emf.ecp.ecview.databinding.tests.emf.model.TestmodelPackage"
            genModel="model/model.genmodel"/>
   </extension>

</plugin>
