<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.e4.ui.css.core.propertyHandler">
      <handler
            adapter="org.eclipse.e4.ui.css.swt.dom.ControlElement"
            composite="true"
            handler="org.eclipse.emf.ecp.ecview.ui.css.swt.properties.css2.CSSPropertySpacingSWTHandler">
         <property-name
               name="spacing-horizontal">
         </property-name>
         <property-name
               name="spacing-vertical">
         </property-name>
      </handler>
  </extension>
</plugin>
