<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.eclipse.emf.ecp.ui.uimodel.example.swt.simple.MarginAndSpacingExample"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="org.eclipse.emf.ecp.ui.uimodel.example.swt.simple.MarginAndSpacingExample">
         </run>
       </application>
   </extension>
   <extension
         id="org.eclipse.emf.ecp.ui.uimodel.example.swt.simple.GridLayoutTextExample"
         point="org.eclipse.core.runtime.applications">
        <application
            cardinality="singleton-global" 
            thread="main"
            visible="true">
         <run
           class="org.eclipse.emf.ecp.ui.uimodel.example.swt.simple.GridLayoutTextExample">
         </run>
      </application>
    </extension>
       <extension
         id="org.eclipse.emf.ecp.ui.uimodel.example.swt.simple.GridLayoutLabelExample"
         point="org.eclipse.core.runtime.applications">
        <application
            cardinality="singleton-global" 
            thread="main"
            visible="true">
         <run
           class="org.eclipse.emf.ecp.ui.uimodel.example.swt.simple.GridLayoutLabelExample">
         </run>
      </application>
    </extension>
</plugin>
