<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.eclipse.emf.ecp.ecview.ui.example.swt.MarginAndSpacingExample"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="org.eclipse.emf.ecp.ecview.ui.example.swt.MarginAndSpacingExample">
         </run>
       </application>
   </extension>
   <extension
         id="org.eclipse.emf.ecp.ecview.ui.example.swt.GridLayoutTextExample"
         point="org.eclipse.core.runtime.applications">
        <application
            cardinality="singleton-global" 
            thread="main"
            visible="true">
         <run
           class="org.eclipse.emf.ecp.ecview.ui.example.swt.GridLayoutTextExample">
         </run>
      </application>
    </extension>
       <extension
         id="org.eclipse.emf.ecp.ecview.ui.example.swt.GridLayoutLabelExample"
         point="org.eclipse.core.runtime.applications">
        <application
            cardinality="singleton-global" 
            thread="main"
            visible="true">
         <run
           class="org.eclipse.emf.ecp.ecview.ui.example.swt.GridLayoutLabelExample">
         </run>
      </application>
    </extension>
     <extension
         id="org.eclipse.emf.ecp.ecview.ui.example.swt.GridLayoutTextAreaExample"
         point="org.eclipse.core.runtime.applications">
        <application
            cardinality="singleton-global" 
            thread="main"
            visible="true">
         <run
           class="org.eclipse.emf.ecp.ecview.ui.example.swt.GridLayoutTextAreaExample">
         </run>
      </application>
    </extension>
    <extension
         id="org.eclipse.emf.ecp.ecview.ui.example.swt.GridLayoutCheckboxExample"
         point="org.eclipse.core.runtime.applications">
        <application
            cardinality="singleton-global" 
            thread="main"
            visible="true">
         <run
           class="org.eclipse.emf.ecp.ecview.ui.example.swt.GridLayoutCheckboxExample">
         </run>
      </application>
    </extension>
    <extension
         id="org.eclipse.emf.ecp.ecview.ui.example.swt.ButtonExample"
         point="org.eclipse.core.runtime.applications">
        <application
            cardinality="singleton-global" 
            thread="main"
            visible="true">
         <run
           class="org.eclipse.emf.ecp.ecview.ui.example.swt.ButtonExample">
         </run>
      </application>
    </extension>
    <extension
         id="org.eclipse.emf.ecp.ecview.ui.example.swt.binding.TextBindingExample"
         point="org.eclipse.core.runtime.applications">
        <application
            cardinality="singleton-global" 
            thread="main"
            visible="true">
         <run
           class="org.eclipse.emf.ecp.ecview.ui.example.swt.binding.TextBindingExample">
         </run>
      </application>
    </extension>
</plugin>
