<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Copyright (c) 2012 Florian Pirchner (Vienna, Austria) and others.
 All rights reserved. This program and the accompanying materials
 are made available under the terms of the Eclipse Public License v1.0
 which accompanies this distribution, and is available at
 http://www.eclipse.org/legal/epl-v10.html
 
 Contributors:
    Florian Pirchner - initial API and implementation
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://eclipse.org/emf/emfclient/uimodel"
            class="org.eclipse.emf.ecp.ui.model.core.uimodel.UiModelPackage"
            genModel="model/uimodel.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated basicExt -->
      <package
            uri="http://eclipse.org/emf/emfclient/uimodel/basicExtension"
            class="org.eclipse.emf.ecp.ui.model.core.uimodel.extension.UimodelExtensionPackage"
            genModel="model/basicExt.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated datatypes -->
      <package
            uri="http://eclipse.org/emf/emfclient/uimodel/datatypes"
            class="org.eclipse.emf.ecp.ui.model.core.datatypes.DatatypesPackage"
            genModel="model/datatypes.genmodel"/>
   </extension>

</plugin>
