<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://eclipse.org/emf/ecp/ecview/core/view"
            class="org.eclipse.emf.ecp.ecview.common.model.core.CoreModelPackage"
            genModel="model/core.genmodel"/>
   </extension>
   
  <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://eclipse.org/emf/ecp/ecview/core/datatypes"
            class="org.eclipse.emf.ecp.ecview.common.model.datatypes.DatatypesPackage"
            genModel="model/datatypes.genmodel"/>
   </extension>
   
</plugin>
