<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://eclipse.org/emf/ecp/ecview/common/view"
            class="org.eclipse.emf.ecp.ecview.common.model.core.CoreModelPackage"
            genModel="model/core.genmodel"/>
   </extension>

  <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://eclipse.org/emf/ecp/ecview/core/datatypes"
            class="org.eclipse.emf.ecp.ecview.common.model.datatypes.DatatypesPackage"
            genModel="model/datatypes.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated core -->
      <package
            uri="http://eclipse.org/emf/ecp/ecview/common/visibility"
            class="org.eclipse.emf.ecp.ecview.common.model.visibility.VisibilityPackage"
            genModel="model/core.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated binding -->
      <package
            uri="http://eclipse.org/emf/ecp/ecview/common/binding"
            class="org.eclipse.emf.ecp.ecview.common.model.binding.BindingPackage"
            genModel="model/binding.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated validation -->
      <package
            uri="http://eclipse.org/emf/ecp/ecview/common/validation"
            class="org.eclipse.emf.ecp.ecview.common.model.validation.ValidationPackage"
            genModel="model/validation.genmodel"/>
   </extension>

</plugin>
