<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://eclipse.org/emf/ecp/ecview/core/view"
            class="org.lunifera.ecview.core.common.model.core.CoreModelPackage"
            genModel="model/core.genmodel"/>
   </extension>

  <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://eclipse.org/emf/ecp/ecview/core/datatypes"
            class="org.lunifera.ecview.core.common.model.datatypes.DatatypesPackage"
            genModel="model/core.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated core -->
      <package
            uri="http://eclipse.org/emf/ecp/ecview/core/visibility"
            class="org.lunifera.ecview.core.common.model.visibility.VisibilityPackage"
            genModel="model/core.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated binding -->
      <package
            uri="http://eclipse.org/emf/ecp/ecview/core/binding"
            class="org.lunifera.ecview.core.common.model.binding.BindingPackage"
            genModel="model/core.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated validation -->
      <package
            uri="http://eclipse.org/emf/ecp/ecview/core/validation"
            class="org.lunifera.ecview.core.common.model.validation.ValidationPackage"
            genModel="model/core.genmodel"/>
   </extension>

</plugin>
